
.vs/GarageTool/v15/.suo
.vs/GarageTool/v15/Server/sqlite3/storage.ide-shm
.vs/GarageTool/v15/Server/sqlite3/storage.ide-wal
bin/Debug/app.publish/GarageTool.exe
bin/Debug/GarageTool.application
bin/Debug/GarageTool.exe
bin/Debug/GarageTool.exe.manifest
bin/Debug/GarageTool.pdb
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/EditItems.g.cs
obj/Debug/EditItems.g.i.cs
obj/Debug/GarageTool.application
obj/Debug/GarageTool.csproj.CoreCompileInputs.cache
obj/Debug/GarageTool.csproj.FileListAbsolute.txt
obj/Debug/GarageTool.csproj.GenerateResource.Cache
obj/Debug/GarageTool.csproj.ResolveComReference.cache
obj/Debug/GarageTool.csprojAssemblyReference.cache
obj/Debug/GarageTool.exe
obj/Debug/GarageTool.exe.manifest
obj/Debug/GarageTool.pdb
obj/Debug/GarageTool_MarkupCompile.cache
obj/Debug/GarageTool_MarkupCompile.lref
obj/Debug/Identyfikacja.g.cs
obj/Debug/Identyfikacja.g.i.cs
obj/Debug/Interop.EnvDTE.dll
obj/Debug/Interop.VSLangProj.dll
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/Map.g.cs
obj/Debug/Map.g.i.cs
obj/Debug/ReportWindow.g.cs
obj/Debug/ReportWindow.g.i.cs
obj/Debug/Window1.g.cs
obj/Debug/Window1.g.i.cs
